@model IEnumerable<TaskMIcros.Models.Expenses>

@{
    ViewData["Title"] = "Затраты";
}

<h1>Затраты</h1>

<p>
    <a asp-action="Create">Добавить новое значение расхода</a>
</p>

@*<p>Kendo Ui version <strong id="kendoVersion"></strong></p>*@

<div id="gridKendo"></div>

            @*expenses*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#kendoVersion").text(kendo.version);

        $("#gridKendo").kendoGrid(
            {
                dataSource: ExpensesHelper.gridDataSource(),
                columns: ExpensesHelper.GenerateColumns(),
                resizable: true,
                filterable : true,
                sortable: true,
                editable: "inline",
                selectable: "row",
            }
        );
    });

    var ExpensesHelper = {
        GenerateColumns: function () {
            return columns =
                [
                    { field: "Id", title: "Id", width: 90, editable: false },
                    { field: "UserName", title: "Name", width: 160, editable: false },
                    { field: "Other", title: "Other", width: 150, editable: false, },
                    { field: "Entertainment", title: "Entertainment", width: 160, editable: false },
                    { field: "Intenet", title: "Intenet", width: 160, editable: false },
                    { field: "Mobile", title: "Mobile", width: 160, editable: false },
                    { field: "Transport", title: "Transport", width: 160, editable: false },
                    { field: "Food", title: "Food", width: 160, editable: false, hidden: false},
                    { field: "Total", title: "Total", width: 160, editable: false },
                    { field: "ExpenseDate", title: "Expense from", width: 160, editable: false, format: "{0:d}" },
                    { field: "ExpenseLastDate", title: "Expenses to", width: 160, editable: false, format: "{0:d}" },
                    { field: "Commentary", title: "Commentary", width: 160, editable: false },
                    { field: "UserId", title: "UserId", width: 160, editable: false, hidden: true },
                    {
                        command: [{
                            name: "edit",
                            text: {
                                edit: "Edit",
                                update: "Update",
                                cancel: "Cancel"
                            }
                        }],
                        width: 160
                    }
                ]
        },

        gridDataSource: function () {
            var gridDataSource = new kendo.data.DataSource(
                {
                    batch: true,
                    sort: ({ field: "Id", dir: "asc" }),
                    schema: {
                        data: "Items", total: "TotalCount",
                        model: {
                            id: "Id",
                            fields: {
                                Id: { type: "int", editable: false },
                                Total: { type: "number", editable: false },
                                Other: { type: "number" },
                                Entertainment: { type: "number" },
                                Intenet: { type: "number" },
                                Mobile: { type: "number" },
                                Transport: { type: "number" },
                                Food: { type: "number" },
                                ExpenseDate: { type: "date" },
                                Commentary: { type: "string" },
                                ExpenseLastDate: { type: "date" },
                                UserId: { type: "int" ,
                                UserName: { type: "string" },
                            }
                        }
                        },
                    },
                    transport: {
                        read: {
                            url: '../Expenses/GetAllExpensesJson',
                            type: "GET",
                            dataType: "json",
                            contentType: "application/json; charser=utf-8"
                        },
                        update: {
                            url: '../Expenses/UpdateExpenses', //  goes to controller ->  action
                            type: "POST",
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                });
            return gridDataSource;
        },
    }


</script>
